
/* ----------------------------------------------------------------

	banner.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Banner
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for banner. Thanks!
-----------------------------------------------------------------*/


#banner {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    position: relative;
    top: -5rem;

    &.home-banner {
        background-image: url(../images/banner/banner-bg.png);
        @include media-breakpoint-down(md) {
            height: 17rem;
        }
        height: 52rem;
    }
    
    &.about-banner {
        background-image: url(../images/about-banner.png);
        height: 20rem;
        padding-top: $spacer * 4.625;
        padding-bottom: $spacer * 7.125;
    }

    .banner-wrap {
        padding-top: 3.875rem;
        padding-bottom: 2.9rem;
    }

    h2 {
        color: $theme-color;
        font-style: italic;
    }
}