
/* ----------------------------------------------------------------

	extras.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Extra Styles
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here extra styles for demo. Thanks!
-----------------------------------------------------------------*/

.contact {
	.contact-email {
		font-size: 2.25rem;
		font-family: $heading-font;
		font-weight: 400;
		color: $primary;
		line-height: 4rem;
		margin-bottom: 0;
	}

	.contact-title {
		font-weight: 700;
		font-size: $h5-font-size;
		font-family: $heading-font;
		color: #111111;
		text-transform: uppercase;
		margin-bottom: 1.25rem;
		line-height: 1.25;
	}

	p {
		color: #4c4c4c;
		font-size: 1.125rem;
		font-weight: 300;
	}
}

.map {
	position: relative;
}

.contact-address {
	background-color: white;
	padding: 3rem;
	position: absolute;
	left: 8px;
	bottom: 8px;
	line-height: 1;

	.address {
		font-size: 1.25rem;
		margin-bottom: 0.75rem;
	}
}

.error-404 {
	background-image: url(../images/404.png);
	background-position: left center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 6.5rem;
	padding-bottom: 6.5rem;

	@include media-breakpoint-down(md) {
		padding-top: 3.625rem;
	}	
	
	h4 {
		font-weight: 700;
		font-size: 1.25rem;
		color: #111111;
	}

	a {
		color: #040301;
		font-size: $h5-font-size;
		text-transform: uppercase;
		font-weight: 400;
	}
}

.section-bg {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: $section-spacer;
	padding-bottom: $section-spacer;
}

.btn {
	background-color: $theme-color;
}

.event {
	.event-image {
		position: relative;
	}

	.event-thumbnail {
		position: absolute;
		top: 2rem;
	}

	.left {
		left: 0;
		z-index: 100;
	}

	.right {
		right: 0;
	}
}

.subscribe {
	padding: 4.25rem 2rem;
}

.about-details {
	background-color: white;
	padding:6rem 4.5rem 4rem;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);

	@include media-breakpoint-up(xl) {
		margin-top: 4rem;
	}

	hr {
		background: $theme-color;
		margin-top: 2rem;
		height: 1px;
		opacity: 1;
	}
}

hr {
	background-color: $theme-color;
	opacity: 1;
	height: 1px;
}

strong {
	font-size: 1.25rem;
}


.arrow {
	display: flex;
	margin-bottom: 2.5rem;

	.prev-arrow,
	.next-arrow {
		color: #111111;
		font-size: 1.6rem;
		font-weight: 700;
		padding-left: 2rem;

		&.active {
			color: $theme-color;
		}
	}
}

#bestproduct {
	
	div.slider-arrow {
		position: absolute;
		top: 30%;
		transform: translateY(-50%);
		color: #111111;
		line-height: 36px;
		font-size: 2.6rem;
		cursor: pointer;
		z-index: 10;
		width: fit-content;

	}

	.product {
		margin-left: 1rem;
		margin-right: 1rem;
	}

	div.slider-prev {
		left: -2rem;
	}
	div.slider-next {
		right: -2rem;
	}
}
