
/*-----------------------------------------------------------------------------------

	Shortcodes: feature-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Featured Boxes
-----------------------------------------------------------------*/


.fbox {
	position: relative;
	margin-bottom: 1.875rem;
	box-shadow: -8px 10px 20px 4px #eaeaea;
	background-color: white;
	padding: 3rem 2.5rem;

	@include media-breakpoint-up(xl) {
		margin-top: -7.5rem;
	}

	.fbox-icon {
		img {
			display: block;
		}
	}

	h4 {
		font-family: $body-font;
		font-weight: 400;
		line-height: $line-height-sm;
		margin-bottom: 0;
	}

	p {
		line-height: $line-height-base;
		margin-bottom: 0;
	}
}

