
/*-----------------------------------------------------------------------------------

	Shortcodes: headings.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Heading Styles
-----------------------------------------------------------------*/


/* Heading Block - with Subtitle
-----------------------------------------------------------------*/

.heading-block { 
	margin-bottom: $spacer * 3; 

	.title {		
		display: block;
		font-size: $h2-font-size;
		font-weight: 700;
		line-height: 1;
		margin-bottom: 0;
		padding: 0 1.3rem;
		z-index: 100;
		position: relative;
		text-align: center;
		text-transform: uppercase;
		width: fit-content;
		background-color: #fff;
		display: block;
		line-height: 1;
		margin: -2rem auto 0 auto;
	}
}